<template name='index'>
	<div id='map'></div>
	<div id='floating-panel'>
	    <input id="origin-input" class="controls" type="text" placeholder="Enter a Start Address">
    	<input id="destination-input" class="controls" type="text" placeholder="Enter a Destination ">
    	<button id='zoomIn'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    	<button id='zoomOut'><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
	</div>
	<div id="right-panel"></div>
</template>